In [6]:
import pandas as pd

In [7]:
path = "WebVisualizations/city_perfect_weather.csv"

In [8]:
df = pd.read_csv(path)

df.head()

,Unnamed: 0,Unnamed: 0.1,City Name,City Country,City ID,City Lat,City Long,Temps (F),Humidity %,Cloudiness %,Windspeed (mph),City Datetime
0,9,9,port alfred,ZA,964432,-33.59,26.89,71.01,81,0,7.00,1583078781
1,21,21,cidreira,BR,3466165,-30.18,-50.21,73.40,67,0,9.24,1583078790
2,28,28,dingle,PH,1714733,11.00,122.67,73.00,83,0,8.77,1583078794
3,71,71,bilaspur,IN,1275637,22.08,82.15,80.65,27,0,5.82,1583078824
4,84,84,tecoanapa,MX,3516171,16.52,-98.75,84.06,55,0,1.52,1583078832

In [10]:
df.to_html("vacation.html")