In [18]:
import pandas as pd

In [19]:
path = "WebVisualizations/city_perfect_weather.csv"

In [20]:
df = pd.read_csv(path)

df = df.drop(["Unnamed: 0","Unnamed: 0.1", "City ID", "City Datetime"], axis =1)

df.head()

,City Name,City Country,City Lat,City Long,Temps (F),Humidity %,Cloudiness %,Windspeed (mph)
0,port alfred,ZA,-33.59,26.89,71.01,81,0,7.00
1,cidreira,BR,-30.18,-50.21,73.40,67,0,9.24
2,dingle,PH,11.00,122.67,73.00,83,0,8.77
3,bilaspur,IN,22.08,82.15,80.65,27,0,5.82
4,tecoanapa,MX,16.52,-98.75,84.06,55,0,1.52

In [21]:
df.to_html("vacation.html")